.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo {
    background-color: purple;
    font-family: serif;
    font-size: 20px;
    color: white;
    /* justify-content: flex-start; */
    padding: 20px 10px;
}

.nav_links {
    list-style: none;
    display: flex;
    /* justify-content: center; */
}

body {
    margin: 0px;
}


.nav_links li {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.search {
    height: 20px;
}

.cart {
    height: 20px;
    /* align-items: center;
    justify-content: center; */
}

.format {
    font-size: 24px;
}

